@tailwind base;
@tailwind components;
@tailwind utilities;
@import url('https://fonts.googleapis.com/css2?family=Comfortaa:wght@300;400;500;600;700&display=swap');


body {
  font-family: 'Comfortaa', cursive;
  background-image: url("../src/assets/porfolio_background.svg");
  color : hsl(0, 100%, 0%);
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
